<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-yandex-mobile-sdk" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-plugin-yandex-mobile-sdk</name>

	<js-module
    name="YandexMobileSDK"
    src="www/YandexMobileSDKPlugin.js"
    >
		  <clobbers target="YandexMobileSDK" />
	</js-module>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="YandexMobileSDK">
				<param
          name="android-package"
          value="com.mist1351.plugins.YandexMobileSDKPlugin" />
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml"></config-file>
		<source-file
      src="src/android/com/mist1351/plugins/YandexMobileSDKPlugin.java"
      target-dir="src/com/mist1351/plugins/YandexMobileSDKPlugin"
      />
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
	</platform>

</plugin>
